body {
  overflow-x: hidden;
}

/*BACKGROUND CSS*/
.curve-background {
  background-size: 100vw;
  margin-top: -10vh;
  background-image: url("../assets/curve.svg");
  background-repeat: no-repeat;
  background-color: #ffe600;
}

.yellow-background {
  background: #ffe600;
}

.whiteoffset-background {
  background: #f6f6f6;
}

.nav-background {
  background: #ffe600;
  z-index: 0;
}

.form-background {
  padding: 40px;
  background: #ffe600;
  border-radius: 20px;
}

.center-text{
  text-align: center;
}

/*TEXT CSS*/

.font-raleway {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.font-poiret {
  font-family: "Montserrat", sans-serif;
}

.large-h-size {
  font-size: 3.8rem;
}

.justify-child-text > div {
  text-align: justify;
}

.child-text-padding-right > div {
  padding-right: 40px;
}

.small-h-size {
  font-size: 1.4rem;
}

.medium-h-size {
  font-size: 2.8rem;
}

.mediumsmall-h-size {
  font-size: 2rem;
}

.thin {
  font-weight: 400;
}

.text-p-size {
  color: rgb(80, 80, 80);
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .large-h-size {
    font-size: 2rem;
    text-align: center;
  }

  .small-h-size {
    font-size: 1rem;
  }

  .medium-h-size {
    font-size: 1.5rem;
  }

  .mediumsmall-h-size {
    font-size: 1.5rem;
    text-align: center;
  }

  .text-p-size {
    color: rgb(80, 80, 80);
    font-size: 15px;
    font-weight: 600;
  }
}

button.menu-icon::after {
  background: black;
  box-shadow: 0 7px 0 black, 0 14px 0 black;
  -webkit-box-shadow: 0 7px 0 black, 0 14px 0 black;
}

ul.nav-menu > li > a {
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 0.8em;
  padding-right: 5em;
  color: black;
}

/*LOGO/MENU*/

.logo {
  float: left;
  width: 48px;
  margin: 5px;
  height: auto;
}

/*MARGINS, PADDING AND CENTERING*/
.grid-container {
  width: 1200px;
}

.vertical-padding-nav {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.vertical-padding-small {
  padding-top: 2em;
  padding-bottom: 2em;
}

.vertical-padding-small-bottom {
  padding-bottom: 2rem;
}

.vertical-padding-medium-top {
  padding-top: 4rem;
}

.vertical-padding-medium {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.text-center {
  text-align: center;
}

.vertical-padding-large {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.margin-right{
  margin-right: 10px !important;

}

.horizontal-padding {
  padding-left: 18rem;
  padding-right: 18rem;
}

.horizontal-padding-small {
  padding-left: 5rem;
  padding-right: 5rem
}

.center-element {
  text-align: center;
  margin: 0 auto;
}

.no-margin-padding {
  margin: 0;
  padding: 0;
}

.horizontal-margin {
  margin: 10px;
}

@media only screen and (max-width: 1200px) {
  .horizontal-padding {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .horizontal-padding-small {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}


.small-padding {
  padding-right: 2rem;
  padding-left: 2rem;
}

/*FORM - BUTTONS*/

#help-text{
  text-align: center;
  margin-top: 10px;
}

label {
  color: black !important;
  font-family: "Raleway", sans-serif !important;
  font-size: 18px !important;
  margin-top: 5px !important;
}

.input-field {
  font-size: 18px !important;
  height: 45px !important;
  font-family: "Raleway", sans-serif !important;
  border-radius: 10px !important;
  color: black !important;
}

input[type="submit"],


a.button.primary, button.primary {
  color: white !important;
  font-family: "Raleway", sans-serif !important;
  text-align: center;
  background: #4343ce ;
  font-size: 18px !important;
  font-weight: 600 !important;
  border-radius: 20px !important;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  height: 40px;
  margin: 0px;
}

a.button.primary{
  padding-left: 20px;
  padding-right: 20px;
  line-height: 10px;
  font-size: 15px !important;
}


a.button.primary:hover, button.primary:hover {
  cursor: pointer;
  background-color: #252578 !important;
}

button.background-searching{
  animation: pulse 2s infinite
}

button.background-fail {
    background-color: #ab5050 !important;
}

button.background-sucess {
    background-color: #56ab50 !important;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(37, 37, 120, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(37, 37, 120, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(37, 37, 120, 0);
  }
}

button.primary.center {
  display: block;
}

textarea {
  border-radius: 5px !important;
  font-size: 18px !important;
  height: 170px !important;
  width: 100% !important;
}

#email-success,
#email-fail {
  top: 0;
  position: relative;
  display: inline;
  height: 40px;
  width: 40px;
}

#email-button {
  position: relative;
  display: inline;
  height: 35px;
  width: 35px;
}

.social-img {
  float: right;
}

.social-img > img {
  height: 100px;
  width: auto;
  margin: -25px;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .input-field {
    font-size: 15px;
    height: 30px !important;
  }

  input[type="submit"] {
    font-size: 15px !important;
    height: 30px !important;
  }

  textarea {
    font-size: 15px;
    height: 100px !important;
  }

  label {
    font-size: 15px !important;
  }

  .social-img > img {
    margin: -50px;
  }
}

/*LIST*/

ul {
  list-style: none !important;
  margin: 0 !important;
}

li {
  display: inline;
}

ul.tags {
  margin-top: -1vh !important;
}

.tags {
  font-family: "Raleway", sans-serif;
  color: #4343ce;
  font-size: 18px;
  font-weight: 500;
}

.modal-links {
  color: black;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.modal-links > a {
  color: black;
}

.modal-links > a {
  margin-right: 50px;
}

nav .marker {
  position: absolute;
  left: 0;
  width: 0;
  height: 6px;
  border-radius: 20px;
  background: black;
  transition: 0.5s;
}

@media only screen and (max-width: 600px) {
  .tags {
    font-size: 15px;
  }

  .modal-link {
  }
}

li > img,
li > a > img {
  width: 30px;
  height: auto;
  margin-right: 20px;
}

/*SLICK - SLIDER - CARDS*/

.project {
  border-radius: 20px;
  border-color: #c5c5c5;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  margin: 10px;
}

.project > h3 {
  margin: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.project > p {
  color: #707070;
  margin-left: 10px;
  margin-right: 10px;
  height: 100px;
}

.project > button {
  font-size: 15px !important;
  margin: 20px auto;
}

.project > img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

/*IFRAME*/

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: auto;
  padding-top: 46.25%; 
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/*PROJECT*/

.card {
  background-color: #f6f6f6 !important;
  border-radius: 20px !important;
  border: 0 !important;
  padding: 20px;
}

.project-image {
  border-radius: 20px;
}

/*NAV SCROLL HIDE*/

.scrollhide-nav {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 0;
  transition: -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1),
    -webkit-transform 1s cubic-bezier(0.86, 0, 0.07, 1);
}

.scrollhide-nav.hidden {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  z-index: 0;
}

/*MODAL*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: black; /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
  overflow: auto;
  position: absolute;
  max-height: 600px;
}

/* Modal Header */
.modal-header {
  border-radius: 20px 20px 0px 0px;
  padding: 15px 16px;
  padding-bottom: 6vh;
  background-image: url("../assets/curve_modal.svg");
  background-position: bottom;
}

/* Modal Content */
.modal-content {
  position:relative;
  padding-bottom: 15px;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  top: -50px;
  width: 70%;
  background-color: #f6f6f6;
  animation-duration: 0.4s;
  min-height: 10vh;
  max-height: 90vh;
  overflow: hidden;
}

@media only screen and (max-width: 1500px) {
  .modal-content {
    width: 90%;
  }
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: -50;
    opacity: 1;
  }
}
